/*
Style based in: https://codepen.io/zastrow/pen/oDBki
*/

body{ 
	color: white;
	background:#222; 
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}


ul {
	max-width: 1000px;
	margin: 0 auto;
	height: 16em;
	padding-left: 14%;
}


li {
	list-style:none; 
	position:relative; 
	float:left; 
}

.white {
	height:inherit; 
	width:5.78%; 
	z-index:1;
	border-left:1px solid #bbb;
	border-bottom:1px solid #bbb;
	border-radius:0 0 5px 5px;
	box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
	background: #fff;
}
 .white:active, .wa{
	border-top:1px solid #777;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
	background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
}

.black {
	height:8em; 
	width:3%; 
	margin:0 0 0 -1em; 
	z-index:2;
	border:1px solid #000;
	border-radius:0 0 3px 3px;
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
	background:linear-gradient(45deg, #222 0%,#555 100%);
}

.black:active, .ba {
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
	background:linear-gradient(left, #444 0%,#222 100%);
}

/* center white keys after */
.d, .e, .g, .a, .b { margin:0 0 0 -1em;  }