@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

@font-face {
    font-family: Pluto;
    src: url(../assets/Pluto-Sans-Bold.otf); 
}
body {
    margin: 0;
    font-family: 'Roboto', Pluto, sans-serif;
}

#mobile{
    display: none;
}


.mobile-drop-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 61px;
    right: 0;
}

.mobile-drop-content a{
    color: white;
    background-color: #231f20;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mobile-drop-content a:hover {background-color: #48bceb}

.show {
    display: block;
    
}

/* scrollbar style */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #6ec1e4; 
}
::-webkit-scrollbar-thumb:hover {
    background: #36a4d3; 
}

.header{
    background-color: #fcf8f3;
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 17px;
    border-bottom: 1px solid #6ec1e4;
    z-index: 1;
}

.header img{
    margin: 10px;
    width: auto;
    height: auto;
    
}

#jobsity-logo{
    max-width: 150px;
}


.header p{
    margin: 0px;
    padding: 0px;
    right: 35px;
}

.header > .text{

    position: relative;
    margin: 18px 0;
}


#mobile{
    display: none;
}

#logo {
    background: white;
    flex: 1;
    border-right: 1px solid #d6dde5
}

#title{
    font-family: Pluto;
    text-align: left;
    flex: 2;
    left: 20px;
    font-size: 20px;
}

.search{
    flex: 3;
    margin: -2px 0;
}

form{
    position: relative;
    bottom: 3px;
}

#search-bar input[type="text"] {
    position: relative;
    left: 25%;
    background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #6ec1e4;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #f8f7f6;
    width: 30%;
    height: 1.3em;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    transition: all 0.7s ease 0s;
    }

#search-bar input[type="text"]:focus {
    width: 35%;
    }

#login{
    flex: 1;
    border-left: 1px solid #d6dde5;
}

#username{
    position: relative;
    margin: 0;
    right: 2em;
    top: 5px;
    text-align: center; 
}

#profile-ph{
    margin: -8px 8px;
    max-height: 40px;
}



.user-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 38px;
    right: 0;
}

.user-dropdown-content a {
    color: white;
    background-color: #54a2c4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.user-dropdown-content a:hover {background-color: #6cc0e4}

.show {
    display: block;
    
}

.wrapper{
    background-color: #231f20;
    display: flex;
    height: 100vmin;
    justify-content: space-around;

}

.sidebar{
    flex: 1;
    padding: 7% 0;
    
}

.sidebar > h4{
  
    display: block;
    margin: 0 auto;
    padding-left: 34px;   
}
.filters{
    color: white;
    border-right: 2px solid #d6dde5;
    
}

.trends{
    color: #bbb7b5
}

.trend-list{
    font-weight: 100;
    font-size: 12px;
    line-height: 3.5;
}

.trends > h5 {
    padding-left: 25px;
}

ol, ul{

    font-size: 15px;
    line-height: 2.5;
}

i {
    padding: 0 12px;
}


.icon-list{
    padding-left: 10%;
    list-style-type: none;
    color: #7fccea
}

.icon-list > #selected {
    color: white;
    font-weight: bolder;
}
.books-wrapper{
    flex: 5;
    background-color: #f5f6f8;
    overflow: auto;
    margin-top: 61px;
}

.books-headers{
    display: flex;
    height: 45px;
    text-align: center;
    align-items: baseline;
}

#your-books{
    padding-left: 30px;
}

#filter-name{
    flex: 1
}

#filter-opt{
    margin: 0;
    padding: 0;
    flex: 2;
    color: #a8a8a8
}

#display-opt{
    flex: 1;
    color: #7fccea;
}
.display-btn{
    padding: 0 2px;
}

.books-container {
    margin: 0 5%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .books {
    width: 150px;
    height: 270px;
    margin: 20px 7px;
  }

  .books > h4{
      color: #484848;
      margin: 0;
      margin-top: 5px;
  }

  .books > h5 {
      color: #aeaeae;
      margin: 0;
      margin-top: 2px;
  }

  .books img{
      width: inherit;
      height: 200px;
      border-radius: 6px;
  }

  #borrowed{
      position: relative;
      left: 5px;
      bottom: 50px;
      width: 60px;
      height: auto;
      opacity: 0.9;
  }

  .fa-star, .fa-star-o {
    color: #7fccea;
}

.footer{
    display: none;
}

/* for smaller screens */

@media only screen and (max-height: 550px), screen and (max-width: 1200px){

    .wrapper{
        height: 100%;
    }
    .sidebar {
        display: none; 
    }

    .books-headers{
        display: none;
    }

    #title{
        flex: 1
    }

    #profile-ph{
        margin: -8px 10px;

    }


    .search{
        flex: 2;
        right: 2%;
    }

    #search-bar input[type="text"]{
        width: 40%;
    }

    .footer{
        display: block;
        width: 700px;
        overflow: hidden;
        border: solid 1px #6ec1e4;
        border-radius: 4px;
        background-color: #231f20d7;
        position: fixed;
        bottom: 0;
        padding: 10px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
      
    .footer form{
        color: white;
        padding: 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer i{
        padding: 0 10px;
        font-size: 20px;
    }
    
    
    .select {
        position: relative;
        height: 30px;
        background: white;
        box-shadow: 0 3px 3px rgba(0,0,0,.1);
    }
        select, input {
          font-size: 15px;
          border: none;
          box-shadow: none;
          height: 100%;
          width: 150px;
          cursor: pointer;
          outline: none;
          padding-left: 4px;
          border: 1px solid #d6dde5;
          border-radius: 4px;
      
        }
    
        input{
            width: 20%;
            height: 26px;
                
        }
}

@media only screen and (max-width: 880px){

    .search{
        flex: 1;
        right: 7%
    }

}

/* tablet screens */ 
@media only screen and (max-width: 725px){

    .footer {
        display: none;
    }

    #search-bar input[type="text"] {
        display: none;
    }

    .search {
        flex: none;
    }

    #mobile{
    
        padding-top: 10px;
        display: block;
        padding-right: 10px;
        font-size: 30px;
    }

    #mobile a{

        font-size: 20px;
    }

    #filters{
        background-color: #7fccea
    }

    #filters:hover {
        background-color: #48bceb
 }
}

@media only screen and (max-width: 600px){
    #login {display: none;}

}