@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
    font-family: Pluto;
    src: url(../assets/Pluto-Sans-Bold.otf); 
}

.login-page {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  
}

.login-header img{
    display: block;
    margin: 0 auto;
    padding-bottom: 10%;
    max-width: 300px;
    width: auto;
    height: auto;
}

.login-header p{
    font-family: Pluto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #231F20;
    padding-bottom: 50px;
    margin: 0;
    margin-top: -55px;
    margin-left: 145px;
}

.login-form {
  position: relative;
  z-index: 1;
  background: #6EC1E4;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.34);
}
.login-form input {
  font-family: Pluto, sans-serif;
  outline: 0;
  background: #FCF8F3;
  border-radius: 4px;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-form button {
  font-family: Pluto;
  text-transform: uppercase;
  outline: 0;
  background: none;
  border: 10px solid #f5da51;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-form button:hover,.login-form button:active,.login-form button:focus {
  background: #533455;
}
.login-form .message {
  margin: 15px 0 0;
  color: #FFFFFF;
  font-size: 12px;
}
.login-form .message a {
  color: #f5da51;
  text-decoration: none;
}
.login-form .register-form {
  display: none;
}

@media screen and (max-width: 375px){
    .login-form{

        padding: 15% 3%;
        left: -4px;
    }

}